{$CADDY_SITE_ADDRESS} {
    encode zstd gzip
    @webappIndex path /app /app/
    header @webappIndex Cache-Control "no-store, no-cache, must-revalidate"
    @webappAssets path /app/app.js /app/styles.css /app/vendor/pdfjs/*
    header @webappAssets Cache-Control "public, max-age=31536000, immutable"
    reverse_proxy api:8000
}
